{% extends 'rango/base.html' }
% load staticfiles %}

{% block title-block %}
    Register - Step 2
{% endblock %}

{% block body_block %}
<div class="jumbotron p-4">
    <div>
        <h1 class="jumbnotron-heading">Register Here - Step 2</h1>
    </div>
</div>

<div class="container">
    <div class="row">
        <form method="post" action="{% url 'rango:register_progile' %}" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Create Profile" />
        </form>
    </div>
</div>
{% endblock %}